pandas
numpy
streamlit
matplotlib
seaborn
scikit-learn
plotly
requests
sqlalchemy 
beautifulsoup4
sqlalchemy
pytest
jupyter
notebook
openpyxl
psycopg2-binary
python-dateutil==2.8.2
html5lib
lxml
IPython
